torch>=1.1
torchvision
numpy
seaborn
tqdm
tensorboard>=1.14
pandas
requests
scikit-learn
torchmetrics
transformers
accelerate
ray[tune]
datasets 
scipy
tensorboardX
tensorboard-plugin-profile
torchsummary
hyperopt
evaluate 
xgboost
